*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d5e1ef;
}
#contener{
    background-color: white;
    width: 220px;
    height: 330px;
    margin: 100px auto;
    border-radius: 10px;

}
#contener .img img{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 5px;
}

#contener .discription h1{
    font-size: 17px;
    padding: 0px 10px;
    text-align: center;
} 

#contener .discription p{
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
}